
.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationFragmentKtxLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationFragmentLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationUiKtxLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationUiLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$JetbrainsKotlinPluginAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$JetbrainsPluginAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationFragmentKtxLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationFragmentLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationUiKtxLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationUiLibraryAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JetbrainsKotlinPluginAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JetbrainsPluginAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/metadata.bin

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/sources/org/gradle/accessors/dm/LibrariesForLibs.java

.gradle/8.7/dependencies-accessors/f6b7f98dd1b04ddf1f3fc67b432d358d3813373d/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java

.gradle/8.7/fileHashes/fileHashes.bin

.gradle/8.7/fileHashes/fileHashes.lock

.idea/.name

.idea/compiler.xml

.idea/gradle.xml

.idea/migrations.xml

.idea/misc.xml

.idea/other.xml

.idea/vcs.xml

.idea/workspace.xml

local.properties

.gradle/8.7/executionHistory/executionHistory.bin

.gradle/8.7/executionHistory/executionHistory.lock

.gradle/8.7/fileHashes/resourceHashesCache.bin

.gradle/buildOutputCleanup/buildOutputCleanup.lock

.gradle/buildOutputCleanup/outputFiles.bin

.gradle/file-system.probe

.idea/navEditor.xml

.gradle/config.properties
