<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KillerGram_AndroidV1"
        android:windowSoftInputMode="adjustPan"
        tools:targetApi="31">
        <activity
            android:name=".feature.submitlist.ChangeSkillLevelActivity"
            android:exported="false" />
        <activity
            android:name=".feature.submitlist.SubmitBasketballActivity"
            android:exported="false" />
        <activity
            android:name=".feature.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".feature.enterinfo.enterSkill.EnterSkillsActivity"
            android:exported="false" />
        <activity
            android:name=".feature.enterinfo.EnterGenderActivity"
            android:exported="false" />
        <activity
            android:name=".feature.enterinfo.EnterGradeActivity"
            android:exported="false" />
        <activity
            android:name=".feature.enterinfo.EnterNameActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".feature.signup.SetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".feature.signup.EmailValidationActivity"
            android:exported="false"
            android:theme="@style/Theme.KillerGram_AndroidV1" />
        <activity
            android:name=".feature.signup.InputEmailActivity"
            android:exported="false" />
    </application>

</manifest>